<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<% like = current_user.likes.find_by(likeable: @product) %>
<% if like.nil? %>
  <form action="/likes" method="post">
    <input type="hidden" name="like[likeable_id]" value="<%= @product.id %>">
    <input type="hidden" name="like[likeable_type]" value="Product">
    <input type="submit" value="Like">
  </form>
<% else %>
  <form action="<%= like_path(like) %>" method="post">
    <input type="hidden" name="like[likeable_id]" value="<% @product.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Unlike">
  </form>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<% if can? :update, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
  <%= link_to 'Back', products_path %>
