<!DOCTYPE html>
<html>
  <head>
    <title>StoreManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="flex-container">
    <header>
    <nav>
      <% if @current_user&.admin? %>
        <%= link_to "Users", users_path %> |
        <%= link_to "Roles", roles_path %> |
        <%= link_to "Stores", stores_path %> |
        <%= link_to "Products", products_path %> |
        <%= link_to "Favorites", favorites_path %>
      <% end %>
      <% if @current_user&.regular? %>
        <%= link_to "Stores", stores_path %> |
        <%= link_to "Products", products_path %> |
        <%= link_to "Favorites", favorites_path %>
      <% end %>
    </nav>

  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Edit profile", edit_user_registration_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "sign in", new_user_session_path %>
  <% end %>
    </header>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
    <main>
      <%= yield %>
    </main>
  </div>
  </body>
</html>
